In [1]:
import pandas as pd
import numpy as np
import sqlite3
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime
import matplotlib.ticker as mtick
from tqdm import tqdm
conn = sqlite3.connect('test_database')
c = conn.cursor()

In [2]:
query = """
SELECT material, material_name, vendor_name
FROM schedule_table
-- WHERE material in (select part_number from components_table)
"""
df = pd.read_sql_query(query,conn)
new_col = []
for material_name in tqdm(df['Material_Name']):
    new_col.append(material_name.split('-')[0])
df['Logical Group'] = new_col

100%|██████████| 59522/59522 [00:00<00:00, 1022436.21it/s]

In [4]:
df.groupby('Logical Group').agg('nunique')[['Vendor_Name']].sort_values('Vendor_Name', ascending=False)

                      Vendor_Name
Logical Group
ARM                            11
PLATE                          10
BRACKET                        10
BASE                            9
SHELL                           9
...                           ...
DRAFT W/VC3 BACKING             1
DRAFT                           1
DOYENNE                         1
DOWNTOWN TWO                    1
set                             1

[5850 rows x 1 columns]